.nav-conatiner{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border-right: 5px solid var(--border-color);
}

.nav-conatiner-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.nav-conatiner-label{
    color: var(--primary-text-color);
    font-size: 2rem;
}
.nav-conatiner-label1{
    font-size: 1.5rem;
    color: var(--primary-text-color);
    border-bottom: 2px solid var(--primary-color);
    cursor: pointer;
}
.nav-header{
    font-size: 2rem;
    padding: 1.5rem 0rem;
    color: var(--primary-text-color);
    padding-left: 4rem;
}
.nav-items{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text-color);
    padding: 1rem 0rem;
    width: 100%;
    padding-left: 4rem;
    border-radius: 1rem;
    transition: 1ms ease;
}
.nav-items-label{
    width: 100%;
    cursor: pointer;
    font-size: 1.8rem;
    display: block;
}

.nav-items-label input{
    margin-right: 1rem;
}
.nav-add-tag{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.nav-add-tag input{
    width: 60%;
    margin: 1.5rem 0;
    margin-left: 4rem;
    font-size: 1.6rem;
    padding: 1rem 0.625rem;
    border-radius: 0.625rem;
    outline: none;
    border : 2px solid var(--secondary-text-color);
    color: var(--primary-text-color);
    font-weight: 500;
}
.add-tag{
    font-size: 2.5rem;
    cursor: pointer;
}