.body-component{
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "heading heading heading heading"
    "main    main    main     main"
    "main    main    main     main"
    "main    main    main     main"
    "main    main    main     main"
    "main    main    main     main"
    "footer  footer  footer   footer";
    align-items: flex-start;
    height: 100vh;
}

.container-body{
    display: flex;
    grid-area: main;
}