.login-container {
	grid-area: main;
	width: 100%;
}
.login-component {
	display: flex;
	flex-direction: column;
	max-width: 56rem;
	background-color: #ffffff;
	margin: 4rem auto;
	padding: 3.2rem 4.5rem;
	box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}
.login-heading {
	text-align: center;
	font-size: 2rem;
	color: var(--primary-text-color);
	margin: 1rem 0;
	padding-bottom: 1.6rem;
	font-weight: bold;
	line-height: 2rem;
}
.login-input {
	width: 100%;
	height: 4rem;
	padding: 0 1rem;
	border-radius: 0.5rem;
	border: 2px solid var(--border-color);
	margin: 0.5rem 0;
	outline: none;
	font-size: 1.6rem;
}
.login-input:focus {
	border: 2px solid var(--primary-color);
}
.login-password {
	position: relative;
}
.password-icon {
	position: absolute;
	font-size: 19px;
	right: 1rem;
	cursor: pointer;
	top: 1.5rem;
}

.forgot-password {
	padding: 1rem 0;
	margin: 6rem 0;
	font-size: 1.4rem;
	color: #ff4f6c;
	line-height: 2rem;
	cursor: pointer;
}
.forgot-alink {
	text-decoration: none;
}
.login-btn {
	background-color: var(--primary-color);
	border: none;
	color: var(--complimentary-text-color);
	font-size: 1.6rem;
	margin: 1rem 0;
	letter-spacing: 0.15rem;
	margin-bottom: 2rem;
	cursor: pointer;
}
.test-credentails-btn {
	background-color: var(--complimentary-text-color);
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	font-size: 1.6rem;
	margin: 1rem 0;
	letter-spacing: 0.15rem;
	cursor: pointer;
}
.test-credentails-btn:hover {
	background-color: var(--primary-color);
	color: var(--complimentary-text-color);
}
.login-btn:hover {
	background-color: var(--dark-primary-color);
}
.login-text {
	color: #282c3f;
	font-size: 1.4rem;
	font-weight: 400;
}
.login-text > a {
	color: inherit;
}

@media only screen and (max-width: 768px) {
	.login-component {
		margin: 2rem auto;
	}
}
