.palette{
    font-size: 2.2rem;
    color: var(--primary-text-color);
    margin-left: 2rem;
    cursor: pointer;
    position: relative;
}
.palette-icon:hover{
    border: 5px solid var(--border-color);
    border-radius: 50%;
}

.color-palette-container{
    position: absolute;
    background-color: var(--complimentary-text-color);
    display: grid;
    grid-template-columns: 28px 28px 28px 28px;
    grid-template-rows: 28px 28px 28px;
    grid-gap: 5px;
    padding: 5px 7px;
    border-radius: 0.625rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 10;
}



.colorPalette{
    border-radius: 50%;
}

.colorPalette:hover{
    border: 2px solid var(--primary-text-color);
}