.container-note{
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}
.container-note h3{
    font-size: 2rem;
    margin: 1.5rem 0;
    color: var(--primary-text-color);
}
.item-notes{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.item-note-title{
    display: flex;
    justify-content: space-between;
}
.item-note{
    width: 75%;
    margin: 0 auto;
    justify-self: center;
    padding: 1.25rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
}

.item-title{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    color: var(--primary-text-color);
    font-weight: 500;
    overflow-wrap: break-word;
}
.item-descr{
    font-size: 1.6rem;
    color: var(--primary-text-color);
    font-weight: 500;
    overflow-wrap: break-word;
    padding-bottom: 1.5rem;
}
.item-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
}
.item-acitons-left{
    display: flex;
    align-items: center;
}

.item-actions-right{
    display: flex;
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    color: var(--primary-text-color);
}

.item-actions-date{
    color: var(--primary-text-color);
    font-weight: 500;
    margin-right: 1rem;
}
.item-actions-tags{
    display: flex;
    align-items: center;

}
.item-tag{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--border-color);
    border-radius: 0.625rem;
}
.remove-icon{
    font-size: 2.2rem;
    cursor: pointer;
    margin-right: 1rem;
    padding: 0 0.5rem;
}
.empty-label{
    font-size: 2rem;
    color: var(--primary-text-color);
}
.space-4rem{
    width: 100%;
    height: 4rem;
}