.container-note{
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}
.container-note h3{
    font-size: 2rem;
    margin: 1.5rem 0;
    color: var(--primary-text-color);
}
.item-notes{
    display: flex;
    flex-wrap: wrap;
}
.item-note{
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px;
    margin: 2rem 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    
}

.item-title{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    color: var(--primary-text-color);
    font-weight: 500;
    overflow-wrap: break-word;
}
.item-descr{
    font-size: 1.6rem;
    color: var(--primary-text-color);
    font-weight: 500;
    overflow-wrap: break-word;
    padding-bottom: 1.5rem;
}
.item-actions{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.item-tag{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--border-color);
    border-radius: 0.625rem;
}
.remove-icon{
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
}